h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #22343d;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background: transparent;
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 411px;
  padding: 0px 10px;
}

section {
  padding: 80px 0px;
}

.auth-buttons,
.menu {
  display: none;
}

/* Еффект рожевого вогню для лого кінець */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.main-logo-text {
  margin-left: 25px;
}

.container-section-one,
.container-section-two,
.container-section-three,
.container-section-four,
.container-section-fouter,
.container-section-five,
.container-section-designer,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}
/* відкриття мобільного меню ксс ПОЧАТОК */
/* В стилях додаємо накладку для мобільного меню */
.mobile-menu-overlay {
  display: none; /* Спочатку накладка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; /* Щоб вона була поверх основного контенту */
}

.mobile-menu.open ~ .mobile-menu-overlay {
  display: block; /*Показати накладку, коли меню відкрите  */
}

/* Мобільне меню */
.mobile-menu {
  padding: 10px 30px;
  position: fixed;
  top: 0;
  right: -100%; /* Початково приховане за межами екрану */
  width: 60%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999; /* Вище накладки */
  transition: right 0.5s ease-in-out;
}

.mobile-menu.open {
  right: 0; /* Відкривається в межах екрану */
}

.close-mobile-menu {
  border: none;
  padding: 0;
  background-color: transparent;
}

.mobile-menu-btn {
  text-align: right;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobile-menu-link {
  color: #22343d;
}

/* .mobile-menu-link-resume {
  min-width: 90%;
  min-height: 90%;
} */

.mobile-menu-social-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mobile-full-item {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.main-logo-button-svg {
  background-color: transparent;
}

.burger-menu {
  background-color: transparent;
}

/* відкриття мобільного меню ксс КІНЕЦЬ */

.social-title {
  margin-bottom: 20px;
}

.social-icons-two {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* section-header Секція хедер */
.svg-logo {
  background-color: transparent;
  fill: #9d0944;
}
/* main-foto Секція головного фото */
.container-main-foto {
  font-size: 45px;
  background-image: url("../images/global-business-internet-network411x274.jpg");
  color: aliceblue;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-foto {
  padding: 0px;
}

.main-foto-h {
  padding-top: 80px;
  padding-bottom: 80px;
}

.one-button {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    max-width: 1600px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-logo-button-svg {
    padding: 0px;
  }

  .svg-logo {
    background-color: transparent;
    width: 140px !important;
    height: 100px !important;
  }

  .svg-logo-use {
    background-color: transparent;
    width: 50px !important;
    height: 50px !important;
  }

  .container-main-foto {
    background-image: url("../images/global-business-internet-network.jpg");
    font-size: 76px;
    border-radius: 10px;
  }

  .main-foto-h {
    padding-top: 400px;
    padding-bottom: 400px;
  }

  .burger-menu {
    display: none;
  }

  .auth-buttons,
  .menu {
    display: block;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 26px;
  }

  .menu-link:hover {
    color: #24b1be;
  }

  .menu-link:focus {
    color: #24b1be;
  }

  .auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .one-button {
    display: block;
    border-radius: 15px;
    padding: 10px 40px;
    min-width: 120px;
    min-height: 56px;
    background-color: #15bac0;
    font-size: 20px;
    color: #fff;
  }

  /* .sign-in {
    border-radius: 15px;
    padding: 10px 40px;
    min-width: 120px;
    min-height: 56px;
    background-color: #15bac0;
    font-size: 20px;
    color: #fff;
  }

  .sign-up {
    border-radius: 15px;
    padding: 10px 40px;
    min-width: 120px;
    min-height: 56px;
    background-color: #14af9d;
    font-size: 20px;
    color: #fff;
  } */
}

/* section-one Секція один */

.container-section-one-h {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .section-one {
    padding: 200px 0px;
  }

  .container-section-one {
    align-items: flex-start;
    flex-direction: row;
    gap: 35px;
    min-width: 1004px;
    max-width: 1600px;
  }

  .one-section-image-container {
    width: 50%;
  }

  .container-section-one-div-h {
    width: 50%;
  }

  .container-section-one-h {
    margin: 0px;
    font-size: 26px;
  }
}
/* section-two Секція два */
.container-section-two {
  padding-top: 0;
  padding-bottom: 0;
}

.container-section-two-p {
  text-align: left;
  font-weight: 300;
  font-size: 22px;
}

@media screen and (min-width: 1024px) {
  .section-two {
    padding: 0px;
  }

  .container-section-two {
    flex-direction: row-reverse;
    gap: 55px;
    min-width: 1004px;
    max-width: 1600px;
  }

  .two-section-image-container {
    width: 50%;
    height: auto;
  }

  .container-section-two-text {
    width: 50%;
  }

  .container-section-two-h {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 80px;
  }

  .container-section-two-p {
    text-align: left;
    font-weight: 300;
    font-size: 26px;
  }
}
/* section-three - Секція три */

.container-section-three-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  /* min-width: 390px; */
  flex-wrap: wrap; /* Дозволяє переносити елементи на новий рядок, якщо не вміщуються */
}

.container-section-three-ul-all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-section-three-ul .container-section-three-li {
  position: relative;
  transition: transform 0.3s ease;
  flex-shrink: 0; /* Перешкоджає стисненню елементів */
  width: 150px;
}

/* Сходинки — для Фронтенду */
.container-section-three-ul .container-section-three-li:nth-child(1) {
  transform: translateX(0px);
}
.container-section-three-ul .container-section-three-li:nth-child(2) {
  transform: translateX(25px);
}
.container-section-three-ul .container-section-three-li:nth-child(3) {
  transform: translateX(55px);
}
.container-section-three-ul .container-section-three-li:nth-child(4) {
  transform: translateX(90px);
}
.container-section-three-ul .container-section-three-li:nth-child(5) {
  transform: translateX(120px);
}

/* Сходинки — для Інструментів */
.container-section-three-ul-two .container-section-three-li:nth-child(1) {
  transform: translateX(0px);
}
.container-section-three-ul-two .container-section-three-li:nth-child(2) {
  transform: translateX(20px);
}
.container-section-three-ul-two .container-section-three-li:nth-child(3) {
  transform: translateX(50px);
}

/* Додавання тире перед кожним елементом списку */
.container-section-three-li::before {
  content: "-   "; /* Тире перед кожним елементом */
  font-size: 20px; /* Розмір тире можна налаштувати */
  color: black; /* Колір тире */
}

.container-section-three-h {
  font-size: 35px;
}

.container-section-three-p {
  font-size: 25px;
}

@media screen and (min-width: 1024px) {
  .container-section-three {
    align-items: flex-start;
    flex-direction: row;
    min-width: 1004px;
    max-width: 1600px;
  }

  .section-three-skills {
    width: 50%;
  }

  .three-section-image-container {
    width: 50%;
  }

  .container-section-three-ul {
    gap: 70px;
  }

  .container-section-three-h {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .container-section-three-li {
    font-weight: 400;
    font-size: 24px;
  }

  .container-section-three-p {
    text-align: left;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 16px;
  }

  /* Сходинки — для Фронтенду */
  .container-section-three-ul .container-section-three-li:nth-child(1) {
    transform: translateX(0px);
  }
  .container-section-three-ul .container-section-three-li:nth-child(2) {
    transform: translateX(150px);
  }
  .container-section-three-ul .container-section-three-li:nth-child(3) {
    transform: translateX(300px);
  }
  .container-section-three-ul .container-section-three-li:nth-child(4) {
    transform: translateX(450px);
  }

  /* Сходинки — для Інструментів */
  .container-section-three-ul-two .container-section-three-li:nth-child(1) {
    transform: translateX(0px);
  }
  .container-section-three-ul-two .container-section-three-li:nth-child(2) {
    transform: translateX(150px);
  }
  .container-section-three-ul-two .container-section-three-li:nth-child(3) {
    transform: translateX(250px);
  }
}

/* section-four Секція чотири */
.container-section-four-ul-all {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-list-h3 {
  margin-bottom: 10px;
}

.project-list-p-opis {
  margin-bottom: 6px;
}

.four-section-image-container {
  margin-bottom: 8px;
  border: 2px solid #904596;
  border-radius: 12px;
}

.container-section-four-p {
  font-size: 20px;
  margin-bottom: 8px;
}

.container-section-four-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-section-four-figma-www {
  color: #b701ff;
  font-weight: 400;
  font-size: 26px;
}

.project-list,
.project-list-five {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .container-section-four-scroll-wrapper {
    position: relative;
    overflow: hidden;
  }

  .container-section-four-ul-all > div {
    min-width: 30%;
    flex-shrink: 0;
    flex: 0 0 31%; /* кожен блок займає 31% ширини контейнера */
    scroll-snap-align: start; /* прилипає до початку при прокрутці */
    /* box-sizing: border-box; */
  }

  .container-section-four-ul-all {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  img {
    width: 100%;
    min-height: 464px;
  }

  .container-section-four-h {
    font-weight: 300;
    font-size: 62px;
  }

  .project-list-h3 {
    font-weight: 200;
    font-size: 32px;
  }

  .project-list-p-opis {
    font-weight: 200;
    font-size: 24px;
  }

  .container-section-four-p {
    font-weight: 200;
    font-size: 22px;
  }

  .container-section-four-li {
    font-weight: 200;
    font-size: 20px;
  }

  .container-section-four-a {
    font-weight: 200;
    font-size: 24px;
  }

  .container-section-four-a:hover {
    color: rgba(77, 50, 64, 0.6);
  }
  /* Еффект рожевого вогню four-section-image-container початок */
  /* .four-section-image-container {
    position: relative;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(88, 67, 78, 0.6);
    animation: pinkFlame 2s infinite ease-in-out;
    transition: box-shadow 0.3s ease;
    z-index: 1;
  }

  @keyframes pinkFlame {
    0% {
      box-shadow: 0 0 15px rgba(255, 105, 180, 0.6),
        0 0 30px rgba(255, 105, 180, 0.3);
    }
    50% {
      box-shadow: 0 0 25px rgba(255, 20, 147, 0.8),
        0 0 40px rgba(255, 20, 147, 0.5);
    }
    100% {
      box-shadow: 0 0 15px rgba(255, 105, 180, 0.6),
        0 0 30px rgba(255, 105, 180, 0.3);
    }
  } */
  /* Еффект рожевого вогню four-section-image-container кінець */
}

/* section-five Секція пять */
.container-section-five {
  padding-top: 0;
}

.container-section-five-h3 {
  margin-bottom: 10px;
}

.container-section-five-opis {
  margin-bottom: 8px;
}

.container-section-five-teh {
  margin-bottom: 6px;
}

.container-section-five-ul-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-section-five-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.five-section-image-container {
  margin-bottom: 8px;
  border: 2px solid #904596;
  border-radius: 12px;
}

@media screen and (min-width: 1024px) {
  .container-section-five-ul-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    align-items: center;
  }

  .container-section-five-h2 {
    font-weight: 700;
    font-size: 50px;
  }

  /* Еффект рожевого вогню навкруги project-item початок */
  .project-item {
    position: relative;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 0 30px rgba(255, 105, 180, 0.6); */
    animation: pinkFlame 2s infinite ease-in-out;
    transition: box-shadow 0.3s ease;
    z-index: 1;
  }

  /* @keyframes pinkFlame {
    0% {
      box-shadow: 0 0 15px rgba(255, 105, 180, 0.6),
        0 0 30px rgba(255, 105, 180, 0.3);
    }
    50% {
      box-shadow: 0 0 25px rgba(255, 20, 147, 0.8),
        0 0 40px rgba(255, 20, 147, 0.5);
    }
    100% {
      box-shadow: 0 0 15px rgba(255, 105, 180, 0.6),
        0 0 30px rgba(255, 105, 180, 0.3);
    }
  } */

  /* Еффект рожевого вогню навкруги project-item кінець */

  .img-section-five {
    height: 500px;
  }

  .container-section-five-h3 {
    font-weight: 500;
    font-size: 32px;
  }

  .container-section-five-opis {
    font-weight: 300;
    font-size: 26px;
  }

  .container-section-five-li {
    font-weight: 300;
    font-size: 24px;
  }

  .container-section-five-teh {
    font-weight: 600;
    font-size: 24px;
  }
}

/* Кнопка показати ще */
.project-item {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.project-item.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#load-more-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: #0077ff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#load-more-btn:hover {
  background-color: #005ccc;
}

@media screen and (min-width: 1024px) {
  #load-more-btn {
    width: 100%;
    border-radius: 15px;
    padding: 10px 40px;
    min-width: 120px;
    min-height: 56px;
    background-color: #15bac0;
    font-size: 26px;
  }

  #load-more-btn:hover {
    background-color: #57c6ca;
  }
}

/* section-designer Секція дизайнер */
.container-section-designer {
  background-color: #f2f2f2;
  border-radius: 12px;
}

/* section-fouter Секція футер */
.social-icons-two {
  justify-content: center;
  align-items: center;
}

.social-icon-footer {
  width: 36px;
  height: 36px;
}

.container-section-fouter-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .container-section-fouter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-section-fouter-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: nowrap;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .footer-subscribe {
    display: none;
    margin: 0px;
    flex-basis: 100%;
    gap: 40px;
    padding-bottom: 80px;
  }

  .container-section-fouter-h {
    font-size: 36px;
    font-weight: 700;
  }

  .fouter-a {
    font-size: 28px;
    font-weight: 500;
  }

  .social-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
  }

  .social-icon-footer {
    width: 60px;
    height: 60px;
  }

  .text-subscribe {
    font-size: 36px;
    font-weight: 600;
  }

  .form-input-footer {
    width: 70%;
    height: 80px;
    border-color: #904596;
    padding-left: 40px;
    font-size: 36px;
    font-weight: 600;
  }

  .form-input-footer::placeholder {
    font-size: 36px;
    color: #904596;
    font-weight: 600;
  }

  .btn-footer-div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .btn-footer {
    width: 70%;
    border-radius: 10px;
    padding: 10px 40px;
    min-width: 120px;
    min-height: 56px;
    background-color: #15bac0;
    font-size: 26px;
    font-weight: 700;
  }

  .btn-footer:hover {
    background-color: #57c6ca;
  }
}

/* Стрілки для прокручування */

/* CSS: позиціонуємо кнопку і ховаємо за замовчуванням */
.scroll-buttons {
  position: fixed;
  top: 20px; /* відступ від низу */
  right: 20px; /* відступ від правого краю */
  z-index: 1000;
}

.scroll-btn {
  display: none; /* ховаємо кнопку спочатку */
  padding: 10px 40px;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #daf9f4, #40766d);
  color: #1e1b1b;
  border: none;
  border-radius: 10%;
  transition: opacity 0.3s ease;
}

.scroll-btn.show {
  display: block; /* показуємо коли додається клас .show */
}

/* резюме */
#resume {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.979);
  z-index: 9999;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  padding: 20px;
  box-sizing: border-box;
}

.resume-on {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.resume-h {
  font-size: 28px;
}

.resume-hh {
  font-size: 24px;
}

.resume-p {
  font-size: 20px;
}

.resume-hhh {
  font-size: 22px;
}

.resume-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

/* кнопки входу і реєстрації */
/* Модал оверлей */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibilit 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальне вікно */
.modal {
  position: absolute;
  background: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 623px;
  position: absolute;
  padding-left: 16px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
}

/* Закрити модальне вікно */
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: #359b9b;
  border: none;
  fill: #ffffff;
}

.modal-close:focus {
  background-color: #226a7d;
  border: none;
  fill: #ffffff;
}

.button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Заголовок */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-wrapper {
  margin-bottom: 8px;
}

/* Лейбли */
.modal-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-input-icon {
  position: relative;
}

/* Поля введення */
.input-wrapper {
  margin-bottom: 8px;
}

.modal-input {
  width: 90%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4db5b5;
}

.modal-input:focus + .input-icon {
  fill: #469b9b;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: #2e2f42;
}

.input-icon:focus {
  fill: #49bdbb;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* Текстове поле */
.div-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 92%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: none;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4abbbb;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* Чекбокс */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.visually-hidden {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.label-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-item {
  display: inline-flex;
}

.input-check:checked + .modal-checkbox-label .label-span {
  background-color: #50c0af;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.modal-check-text a {
  text-decoration: underline;
}

.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4ca3aa;
}

/* Кнопка */
.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: #428d93;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-button:hover {
  background: #2894a0;
}

.modal-button:focus {
  background: #22776d;
}
