h1,
h2,
p,
input,
button,
option {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  letter-spacing: 0.02em;
  background: url("./images/foto-backgraund.png") no-repeat center center fixed;
  background-size: cover;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #c7c7c7;
  text-align: center;
}

a,
button,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow, visibility,
    opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

a,
button {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  padding: 0px 16px;
}

section {
  padding: 64px 0px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 20px;
    max-width: 768px;
  }

  section {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding-left: 25px;
    padding-right: 25px;
  }

  section {
    padding: 50px 0px;
  }
}

.pocasi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-container {
  gap: 20px;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.input-search,
.button-search,
.select-lang {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

.button-search {
  background-color: #2563eb;
  color: #fff;
}

.button-search:hover {
  background: #1d4ed8;
}

.days {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: auto;
}

.day {
  position: relative;
  background: #f0f4f8;
  border-radius: 12px;
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #2563eb;
}

.day:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.day-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-date {
  font-weight: 600;
  font-size: 18px;
  color: #111827;
  padding-bottom: 6px;
}

.day-desc {
  font-size: 14px;
  color: #4b5563;
  /* text-transform: capitalize; */
}

.day-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #1f2937;
}

.now {
  font-size: 1.4rem;
  color: #2563eb;
  padding-bottom: 6px;
}

.minmax {
  color: #6b7280;
}

.day-meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #374151;
}

.day-meta div {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Сам список підказок */
.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: none;
  background: #3b648b;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 6px 6px;
  width: 226px;
}

/* Кожен елемент списку */
.autocomplete-item {
  cursor: pointer;
  padding: 8px 1px;
  transition: background 0.2s;
}

/* Ховер і активний стан */
.autocomplete-item:hover,
.autocomplete-item.active {
  background-color: #f0f0f0;
  color: #111827;
}

/* Щоб input не мав зовнішньої рамки при фокусі */
.autocomplete-input:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .search {
    justify-content: space-between;
    width: 100%;
  }

  .input-search {
    width: 70%;
  }

  .button-search {
    width: 28%;
  }

  .select-lang {
    margin-left: auto;
  }

  .days {
    flex-direction: row;
    gap: 10px;
  }

  #hourlyChart {
    max-width: 700px;
    max-height: 300px;
  }

  .autocomplete-list {
    width: 542px;
  }
}

@media screen and (min-width: 1280px) {
  .days {
    /* width: 200px; */
    height: 300px;
    justify-content: space-between;
  }

  .day {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .day-top {
    margin-bottom: 40px;
    gap: 60px;
  }

  .day-temp {
    justify-content: center;
    gap: 80px;
  }

  #hourlyChart {
    max-width: 1200px;
    max-height: 300px;
    /* max-height: 100%; */
  }

  .autocomplete-list {
    width: 908px;
  }
}
